Flask~=3.1.0
Flask-SQLAlchemy
click~=8.1.7
elasticsearch~=9.0.1
psycopg2-binary
requests~=2.31.0
sentence-transformers
pandas~=2.1.4
ruptures~=1.1.9
gunicorn
python-dotenv~=1.1.0
Flask-Migrate
gensim~=4.3.2
MyApplication~=0.1.0
numpy~=1.26.3
nltk~=3.8.1